@font-face {
  font-display: swap;
  font-family: "Special Gothic";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/specialgothic/v3/1q2lY5WcG0Fg_v0fHc8BvIZ2537qdm1JEt9N3w2mJykOEnLhliLsitHN4bF8yS8BPQ.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Special Gothic Condensed One";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/specialgothiccondensedone/v2/R70Njzwei_mJM7OsFDzX7EL9NBO6IPvd-Avolzh49w7PYZx15A.woff2") format("woff2");
}

:root {
  --primary-50: #fff0f2;
  --primary-100: #ffe2e6;
  --primary-200: #ffcad4;
  --primary-300: #ff9fb2;
  --primary-400: #ff6989;
  --primary-500: #ff2056;
  --primary-600: #ed1151;
  --primary-700: #c80844;
  --primary-800: #a80940;
  --primary-900: #8f0c3e;
  --primary-950: #50011d;
  --secondary-50: #f6f7f9;
  --secondary-100: #eceef2;
  --secondary-200: #d5dae2;
  --secondary-300: #afbaca;
  --secondary-400: #8494ac;
  --secondary-500: #62748e;
  --secondary-600: #506079;
  --secondary-700: #424e62;
  --secondary-800: #394353;
  --secondary-900: #333a47;
  --secondary-950: #22262f;
  --content-width: 72rem;
  --font-family: "Special Gothic", sans-serif;
  --font-family-display: "Special Gothic Condensed One", "Special Gothic", sans-serif;
  --font-family-mono: ui-monospace, "SFMono-Regular", menlo, monaco, consolas, monospace;
  --font-size: 1rem;
  --font-weight: 700;
  --text-xs: 0.75rem;
  --text-xs-line-height: 1rem;
  --text-sm: 0.875rem;
  --text-sm-line-height: 1.25rem;
  --text-base: 1rem;
  --text-base-line-height: 1.5rem;
  --text-lg: 1.125rem;
  --text-lg-line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl-line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl-line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl-line-height: 2.25rem;
  --text-4xl: 2.25rem;
  --text-4xl-line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl-line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl-line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl-line-height: 1;
  --text-8xl: 6rem;
  --text-8xl-line-height: 1;
  --text-9xl: 8rem;
  --text-9xl-line-height: 1;
  --h1: var(--text-4xl);
  --h1-line-height: var(--text-4xl-line-height);
  --h2: var(--text-3xl);
  --h2-line-height: var(--text-3xl-line-height);
  --h3: var(--text-2xl);
  --h3-line-height: var(--text-2xl-line-height);
  --h4: var(--text-xl);
  --h4-line-height: var(--text-xl-line-height);
  --h5: var(--text-lg);
  --h5-line-height: var(--text-lg-line-height);
  --h6: var(--text-base);
  --h6-line-height: var(--text-base-line-height);
  --heading-line-height: var(--text-base-line-height);
  --heading-weight: 600;
  --line-height: 1.5;
  --prose-space: 1rem;
  --radius: 0.5rem;
  --small-size: 0.75em;
  --space: 1rem;
}

:root,
[data-theme="light"] {
  color-scheme: light;

  --accent: var(--primary-400);
  --accent-foreground: var(--secondary-950);
  --accent-hover: var(--primary-500);
  --border: var(--secondary-300);
  --floor: var(--secondary-50);
  --base: var(--secondary-100);
  --foreground: var(--secondary-950);
  --foreground-muted: var(--secondary-700);
  --notice-action: var(--primary-200);
  --notice-action-foreground: var(--secondary-950);
  --overlay: rgb(from var(--secondary-950) r g b / 64%);
  --navigation-current: var(--secondary-200);
  --navigation-current-foreground: var(--primary-700);
  --navigation-link: var(--primary-500);
  --surface: var(--secondary-200);
  --surface-1: var(--secondary-300);
  --surface-2: var(--secondary-400);
  --surface-shadow: 0 0.0625rem 0.125rem rgb(from var(--secondary-950) r g b / 24%);
}

[data-theme] {
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    color-scheme: dark;

    --accent: var(--primary-500);
    --accent-foreground: var(--secondary-50);
    --accent-hover: var(--primary-400);
    --border: var(--secondary-700);
    --floor: var(--secondary-950);
    --base: var(--secondary-900);
    --foreground: var(--secondary-50);
    --foreground-muted: var(--secondary-200);
    --notice-action: var(--primary-800);
    --notice-action-foreground: var(--secondary-50);
    --navigation-current: var(--secondary-800);
    --navigation-current-foreground: var(--primary-200);
    --navigation-link: var(--primary-500);
    --surface: var(--secondary-800);
    --surface-1: var(--secondary-700);
    --surface-2: var(--secondary-600);
    --surface-shadow: 0 0.0625rem 0.125rem rgb(from var(--secondary-950) r g b / 24%);
  }
}

[data-theme="dark"] {
  color-scheme: dark;

  --accent: var(--primary-500);
  --accent-foreground: var(--secondary-50);
  --accent-hover: var(--primary-400);
  --border: var(--secondary-700);
  --floor: var(--secondary-950);
  --base: var(--secondary-900);
  --foreground: var(--secondary-50);
  --foreground-muted: var(--secondary-200);
  --notice-action: var(--primary-800);
  --notice-action-foreground: var(--secondary-50);
  --navigation-current: var(--secondary-800);
  --navigation-current-foreground: var(--primary-200);
  --navigation-link: var(--primary-500);
  --surface: var(--secondary-800);
  --surface-1: var(--secondary-700);
  --surface-2: var(--secondary-600);
  --surface-shadow: 0 0.0625rem 0.125rem rgb(from var(--secondary-950) r g b / 24%);
}
